# Ignore virtual environment
.venv*/
venv*/

# Ignore Python cache files
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore PyCharm stuff
.idea*/*

# Ignore MacOS stuff
.DS_Store

# Ignore logs and game saves
logs/*
saves/*